*	  			{ font-family:Arial; font-size: 12px; color: #616161;  }
TABLE 			{ font-family:Arial; font-size: 12px; color: #616161;  }
.head 			{ font-size: 14px; color: #2A2E46; }


.header  		{  margin:0 auto; text-align:left; padding:5px 5px 5px 35px ;  margin-top:25px; font-size:15px; color: #545979;
					background:#C2D2C9; width:580px; border:solid 1px #CDD4EC; font-weight:bold; }

.buttonbox 		{ width:550px; margin:0 auto; text-align:center; margin-top:25px; }
.buttonfl  		{ float:left;}
.buttoncl  		{ clear:left;margin-bottom:20px; }


a.linkbutt_int 	{  margin:5px; font-size:12px; display:block; padding: 3px 45px 3px 45px; width:150px;
					color: #414A84; background:#CED8F6; text-decoration:none; 
				 border:solid 1px #CDD4EC; -moz-border-radius:4px; -webkit-border-radius: 4px; border-radius: 4px; }
a.link_list 	{  font-size:10px; display:block; color: #414A84; background:#EEFBF1; 
					text-decoration:none; padding: 2px 15px 2px 15px; min-width:150px;
					border:solid 1px #CDD4EC; }

a.linkbutt_int:hover, a.link_list:hover,a.navi_butt:hover {  background:#CFF3F7; }

a.navi_butt 	{  font-size:11px; display:block; color:#414A84; background:#E8ECE9; text-decoration:none; 
					padding: 4px 10px 4px 10px; width:90px; border:solid 1px #91A497; -moz-border-radius:4px; -webkit-border-radius: 4px; border-radius: 4px; }



td.padd_bott  	{ padding-bottom:25px; }
input[type="submit"] { padding-left:20px;padding-right:20px; font-size:13px; 
					height:25px; background:#0068b4; color:#ffffff; cursor:pointer;
					-moz-border-radius:4px; -webkit-border-radius: 4px; border-radius: 4px; width:180px; }
input, textarea { border:1px solid #0068b4; font-size:11px; }